:root {
  --primary: hsla(284, 100%, 9%, 0.8);
  --secondary: hsla(0, 0%, 100%, 0.3);
}

@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Source+Code+Pro:wght@400;500&display=swap");
.home {
  display: flex;
  scroll-behavior: smooth;
  .left {
    flex: 2;
  }
  .center {
    flex: 11;
    padding: 10px;
    overflow: scroll;

    .first-section {
      height: 420px;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 0,
          transparent 60%,
          rgba(0, 0, 0, 0.8)
        ),
        url("../../assets/homeimg.jpg"), no-repeat;
      background-size: cover;
      border-radius: 10px;

      .first-section-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .title {
          color: lightcyan;
          margin-top: 60px;
          font-size: 50px;
          font-family: "Source Code Pro", monospace;
        }
      }
    }

    .second-section {
      overflow: hidden;
      // background-color: #1c1c26;
      display: flex;
      flex-direction: column;

      .proTitle {
        color: lightgray;
        font-family: "Source Code Pro", monospace;
        text-align: center;
        margin-top: 4rem;
      }
      .project {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
        .projectLeft {
          flex: 3;
        }
        .projectRight {
          flex: 2;
          color: white;
          .laptop {
            width: 400px;
            position: relative;
            overflow: hidden;
            .imgLaptop {
              width: 30vw;
            }
            .laptopScreen {
              width: 295px;
              height: 32vh;
              position: absolute;
              top: 21.5px;
              left: 45px;
              overflow: scroll;
              .screenImg {
                width: 100%;
              }
            }
          }
          .mobile {
            width: 400px;
            position: relative;
            overflow: hidden;
            display: none;
            .imgMobile {
              width: 20vw;
            }
            .mobileScreen {
              width: 195px;
              height: 60vh;
              position: absolute;
              top: 59px;
              left: 30px;
              overflow: scroll;
              .screenImg {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .linkToProject {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }

    .third-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      .techTitle {
        color: lightgray;
        font-family: "Source Code Pro", monospace;
        text-align: center;
        margin-top: 4rem;
      }

      .techstacks {
        margin-top: 2rem;

        ul li {
          margin: 30px 40px;
        }

        ul li a {
          position: relative;
          display: block;
          width: 80px;
          height: 80px;
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          transform: perspective(1000px) rotate(-30deg) skew(25deg)
            translate(0, 0);
          transition: 0.5s;
          // box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
        }

        ul li a::before {
          content: "";
          position: absolute;
          top: 10px;
          left: -20px;
          height: 100%;
          width: 20px;
          background: #b2b2b2;
          transition: 0.5s;
          transform: rotate(0deg) skewY(-45deg);
        }

        ul li a::after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: -10px;
          height: 20px;
          width: 100%;
          background: #e5e5e5;
          transition: 0.5s;
          transform: rotate(0deg) skewX(-45deg);
        }

        ul li a:hover {
          transform: perspective(1000px) rotate(-30deg) skew(25deg)
            translate(20px, -20px);
          box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
        }

        ul li:hover .fa {
          color: #fff;
        }

        ul li:hover:nth-child(1) a {
          background-color: #3b5999;
        }

        ul li:hover:nth-child(1) a::before {
          background-color: #2f477a;
        }

        ul li:hover:nth-child(1) a::after {
          background-color: #4e69a3;
        }
        ul li:nth-child(1) a::after {
          content: "HTML";
          color: black;
          text-align: center;
          font-size: 12px;
        }

        ul li:hover:nth-child(2) a {
          background-color: #55acee;
        }

        ul li:hover:nth-child(2) a::before {
          background-color: #4489be;
        }

        ul li:hover:nth-child(2) a::after {
          background-color: #66b4ef;
        }
        ul li:nth-child(2) a::after {
          content: "CSS";
          color: black;
          text-align: center;
          font-size: 12px;
        }

        ul li:hover:nth-child(3) a {
          background-color: #dd4b39;
        }

        ul li:hover:nth-child(3) a::before {
          background-color: #b03c2d;
        }

        ul li:hover:nth-child(3) a::after {
          background-color: #e05d4c;
        }

        ul li:nth-child(3) a::after {
          content: "JAVASCRIPT";
          color: black;
          text-align: center;
          font-size: 12px;
        }

        ul li:hover:nth-child(4) a {
          background-color: #0077b5;
        }

        ul li:hover:nth-child(4) a::before {
          background-color: #005f90;
        }

        ul li:hover:nth-child(4) a::after {
          background-color: #1984bc;
        }

        ul li:nth-child(4) a::after {
          content: "REACT";
          color: black;
          text-align: center;
          font-size: 12px;
        }

        ul li:hover:nth-child(5) a {
          background-color: #e4405f;
        }

        ul li:hover:nth-child(5) a::before {
          background-color: #b6334c;
        }

        ul li:hover:nth-child(5) a::after {
          background-color: #e6536f;
        }
        ul li:nth-child(5) a::after {
          content: "BOOTSTRAP";
          color: black;
          text-align: center;
          font-size: 12px;
        }
        ul li:hover:nth-child(6) a {
          background-color: lightblue;
        }
        ul li:hover:nth-child(6) a::before {
          background-color: lightblue;
        }
        ul li:hover:nth-child(6) a::after {
          background-color: lightblue;
        }

        ul li:nth-child(6) a::after {
          content: "SASS";
          color: black;
          text-align: center;
          font-size: 12px;
        }

        .techImg {
          width: 90px;
          padding: 0 10px;
        }
      }
    }

    .git-section{
      width: 100%;
      display: flex;
      flex-direction: column;

      .gitTitle{
        color: lightgray;
        font-family: "Source Code Pro", monospace;
        text-align: center;
        margin-top: 4rem;
      }

      .gitImgDiv{
        display: flex;
        align-items: center;
        justify-content: center;

        .gitImg{
          width: 200px;
        }
      }
    }
    .fourth-section {
      width: 100%;

      .testTitle {
        color: lightgray;
        font-family: "Source Code Pro", monospace;
        text-align: center;
        margin-top: 4rem;
      }
      .review {
        margin-top: 2rem;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;

    .drawerTitle {
      color: #67676b;
      transform: rotate(90deg);
      text-align: center;
      margin-top: 12rem;
    }
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

//Mobile View

@media only screen and (max-width: 600px) {
  .left {
    display: none;
  }

  .home {
    .second-section {
      .project {
        flex-direction: column-reverse !important;

        .projectRight {
          .laptop {
            margin-left: 13rem;
            margin-bottom: 1rem;
            display: none;

            .imgLaptop {
              width: 200px !important;
            }
            .laptopScreen {
              width: 154px !important;
              height: 98px !important;
              top: 10.5px !important;
              left: 23px !important;
            }

          }
          .mobile {
            margin-left: 13rem;
            margin-bottom: 1rem;
            display: block !important;

            .imgMobile {
              width: 200px !important;
            }
            .mobileScreen {
              width: 154px !important;
              height: 280px !important;
              top: 35.5px !important;
              left: 23px !important;
            }

          }
        }
      }
    }

    .git-section{
      .gitDiv{
        display: none;
      }
    }

    .fourth-section {
      .review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


//footer

.footer{
  width: 100%;
  height: 100%;
  background: black;

}
