.card {
  width: 200px;
  height: 45vh;
  background: url("../../assets/cardimg.jpg"), no-repeat;
  background-size: cover;
  padding: 10px;

  .cardBody {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
